@using TestCaseStorage.Infrastructure.HtmlHelpers
@model TestCaseStorage.Models.TestCases.TestCaseEditViewModel

@{
    ViewBag.Title = "Редактирование Тест Кейса - " + Model.Title;
}

@using (Html.BeginForm("Update", "TestCase", FormMethod.Post))
{
    @Html.HiddenFor(t => t.ID)
    @Html.HiddenFor(t => t.CreatedById)
    @Html.HiddenFor(t => t.DateCreated)

    @Html.TextBoxLineFor(t => t.Title, "Название")
    @Html.TextAreaLineFor(t => t.Description, "Описание")
    @Html.TextBoxLineFor(t => t.Tag, "Метка")
    @Html.EnumDropDownLineFor(t => t.Status, "Статус")
    @Html.DropDownListLineFor(t => t.AssignedToID, Model.Users, "Ответственное лицо")
    @Html.DropDownListLineFor(t => t.BacklogItemID, Model.BacklogItems, "Относиться к")

    <div class="row">
        <div class="col-lg-5 col-lg-offset-4 input-group-lg text-center">
            @if (Model != null)
            {
                @Html.ActionLink("Отмена", "List", null, new { @class = "btn btn-default navbar-btn btn-lg ok-cancel-btn-width" })
            }
            <input class="btn btn-default btn-lg ok-cancel-btn-width" type="submit" value="Редактировать"/>
        </div>
    </div>
}