@using TestCaseStorage.Models.Shared
@model IEnumerable<TestCaseStorage.Models.TestCases.TestCaseListViewModel>

@{
    ViewBag.Title = "All Test Cases";
}

@section AdminTools
{
    @{
        var disabledAttributes = new
        {
            @class = "btn btn-success btn-md",
            disabled = "true",
            title = ViewBag.IsNotQA ? "Only users with QA role can add/edit/delete test cases" : "There is no backlog items that you can add test case to. Please first add backlog item."
        };
        var activeAttributes = new
        {
            @class = "btn btn-success btn-md"
        };

        var attributes = ViewBag.DisableAdd ? (object)disabledAttributes : (object)activeAttributes;
    }
    

    @Html.ActionLink("Add", "Add", "TestCase", null, attributes)
}

@if (Model.Any())
{
    <table class="table table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Created By</th>
            <th>Date Created</th>
            <th>Run By</th>
            <th>Status</th>
            <th></th>
        </tr>
        @foreach (var testCase in Model)
        {
            <tr onclick="location.href='@Url.Action("Edit", new { id = testCase.ID })'">
                <td>@testCase.ID</td>
                <td>@testCase.Title</td>
                <td>@testCase.Description</td>
                <td>@testCase.CreatedBy</td>
                <td>@testCase.DateCreated</td>
                <td>@testCase.RunBy</td>
                <td>@testCase.Status.ToString()</td>
                <td>
                    @if (!ViewBag.DisableAdd)
                    {
                        @Html.Partial("_editDeleteSection", new EditDeleteSectionModel("TestCase", testCase.ID))
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    @Html.Partial("_noItemsMessage", "There is no test cases here. Please ask your Admin to create one.")
}