@using TestCaseStorage.Models.Shared
@model IEnumerable<TestCaseStorage.Models.TestCases.TestCaseListViewModel>

@{
    ViewBag.Title = "All Test Cases";
}

@section AdminTools
{
    @Html.ActionLink("Add", "Add", "TestCase", null, new { @class = "btn btn-success btn-md" })
}

@if (Model.Any())
{
    <table class="table table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Created By</th>
            <th>Date Created</th>
            <th>Run By</th>
            <th>Status</th>
            <th></th>
        </tr>
        @foreach (var testCase in Model)
        {
            <tr>
                <td>@testCase.ID</td>
                <td>@testCase.Title</td>
                <td>@testCase.Description</td>
                <td>@testCase.CreatedBy</td>
                <td>@testCase.DateCreated</td>
                <td>@testCase.RunBy</td>
                <td>@testCase.Status.ToString()</td>
                <td>
                    @Html.Partial("_editDeleteSection", new EditDeleteSectionModel("TestCase", testCase.ID))
                </td>
            </tr>
        }
    </table>
}
else
{
    @Html.Partial("_noItemsMessage", "There is no test cases here. Please ask your Admin to create one.")
}