@using TestCaseStorage.Infrastructure.Extensions
@using TestCaseStorage.Models.Shared
@model IEnumerable<TestCaseStorage.Models.TestCases.TestCaseListViewModel>

@{
    ViewBag.Title = "Все тест кейсы";
}

@section AdminTools
{
    @{
        var disabledAttributes = new
        {
            @class = "btn btn-success btn-md",
            disabled = "true",
            title = ViewBag.IsNotQA ? "Только тестировщики могут добавлять/редактировать/удалять тест кейсы" : "Прежде чем создавать тест кейс добавьте задачу/ошибку к которой будет относиться этот тест кейс"
        };
        var activeAttributes = new
        {
            @class = "btn btn-success btn-md"
        };

        var attributes = ViewBag.DisableAdd ? (object)disabledAttributes : (object)activeAttributes;
    }
    

    @Html.ActionLink("Добавить", "Add", "TestCase", null, attributes)
}

@if (Model.Any())
{
    <table class="table table-striped table-hover tablesorter">
        <thead>
            <tr>
                <th></th>
                <th>Название</th>
                <th>Описание</th>
                <th>Метка</th>
                <th>Создан Пользователем</th>
                <th>Дата Создания</th>
                <th>Ответственное лицо</th>
                <th>Статус</th>
                <th></th>
            </tr>
        </thead>        
        @foreach (var testCase in Model)
        {
            <tr onclick="location.href='@Url.Action("Edit", new { id = testCase.ID })'">
                <td>@testCase.ID</td>
                <td>@testCase.Title</td>
                <td>@testCase.Description</td>
                <td>@testCase.Tag</td>
                <td>@testCase.CreatedBy</td>
                <td>@testCase.DateCreated</td>
                <td>@testCase.AssignedTo</td>
                <td>@EnumHelpers.GetDescription(testCase.Status)</td>
                <td>
                    @if (!ViewBag.DisableAdd)
                    {
                        @Html.Partial("_editDeleteSection", new EditDeleteSectionModel("TestCase", "Тест Кейс", testCase.ID))
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    @Html.Partial("_noItemsMessage", "На данный момент тест кейсы отсутствуют. Вы можете их добавить нажав на зеленую кнопку в правом верхнем углу.")
}