@using TestCaseStorage.Infrastructure.HtmlHelpers
@model TestCaseStorage.Models.BacklogItems.BacklogItemEditModel

@{
    ViewBag.Title = "Добавление новой задачи/ошибки";
}

@using (Html.BeginForm("AddNew", "Backlog", FormMethod.Post))
{
    @Html.HiddenFor(t => t.ID)
    @Html.HiddenFor(t => t.UserCreatedId)

    @Html.TextBoxLineFor(t => t.Title, "Название")
    @Html.TextAreaLineFor(t => t.Description, "Описание")
    @Html.EnumDropDownLineFor(t => t.Type, "Тип")
    @Html.EnumDropDownLineFor(t => t.Priority, "Приоритет")
    @Html.EnumDropDownLineFor(t => t.Severity, "Критичность")
    @Html.DropDownListLineFor(t => t.AssignedToUserId, Model.Users, "Ответственное лицо")

    <div class="row">
        <div class="col-lg-5 col-lg-offset-4 input-group-lg text-center">
            @if (Model != null)
            {
                @Html.ActionLink("Отмена", "List", null, new { @class = "btn btn-default navbar-btn btn-lg ok-cancel-btn-width" })
            }
            <input class="btn btn-default btn-lg ok-cancel-btn-width" type="submit" value="Добавить" />
        </div>
    </div>
}


