<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>

<div class="container-fluid full-width full-height">
    <div class="row header">
        @if (User.Identity.IsAuthenticated)
        {
            Html.RenderPartial("_header");
        }
    </div>
    <div class="row content">
        <div class="container-fluid full-height">
            <div class="panel panel-default full-height body-panel">
                <div class="panel-heading body-title color-main">
                    <div class="row">
                        @{
                            var titleSize = User.Identity.IsAuthenticated ? 6 : 12;
                            var titleLocation = User.Identity.IsAuthenticated ? "right" : "center";
                        }
                        <div class="col-lg-@titleSize text-@titleLocation">@ViewBag.Title</div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="col-lg-6 text-right">@RenderSection("AdminTools", false)</div>
                        }
                    </div>
                </div>
                <div class="panel-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/main")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
    
<script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker();
    })
</script>

</body>
</html>
