@{
    Layout = null;
}

<div class="col-lg-1 home-btn-container">
    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-default btn-lg navbar-btn" })
</div>
<div class="col-lg-2 col-lg-offset-2 action-btn-container">
    @Html.ActionLink("Iterations", "List", "Iterations", null, new { @class = "btn btn-default btn-lg navbar-btn" })
</div>
<div class="col-lg-2 action-btn-container">
    @Html.ActionLink("Backlog", "List", "Backlog", null, new { @class = "btn btn-default btn-lg navbar-btn" })
</div>
<div class="col-lg-2 action-btn-container">
    @Html.ActionLink("Test Cases", "List", "TestCase", null, new { @class = "btn btn-default btn-lg navbar-btn" })
</div>
<div class="col-lg-2 action-btn-container">
    @Html.ActionLink("Users", "List", "User", null, new { @class = "btn btn-default btn-lg navbar-btn" })
</div>