@using TestCaseStorage.Infrastructure.Extensions
@using TestCaseStorage.Models.Shared
@model IEnumerable<TestCaseStorage.Models.Users.UserViewModel>

@{
    ViewBag.Title = "Все пользователи";
}

@section AdminTools
{
    @{
        var disabledAttributes = new
        {
            @class = "btn btn-success btn-md",
            disabled = "true",
            title = "Только администраторы могут добавлять/редактировать/удалять пользователей"
        };
        var activeAttributes = new
        {
            @class = "btn btn-success btn-md"
        };

        var attributes = ViewBag.DisableAdd ? (object)disabledAttributes : (object)activeAttributes;
    }

    @Html.ActionLink("Добавить", "Add", "User", null, attributes)
}

@if (Model.Any())
{
    <table class="tablesorter table table-striped table-hover ">
        <thead>
            <tr>
                <th></th>
                <th>Логин</th>
                <th>Роль</th>
                <th>Позиция</th>
                <th>Почта</th>
                <th>Скайп</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Дата создания</th>
                <th>Дата последнего входа</th>
                <th></th>
            </tr>
        </thead>        
        @foreach (var user in Model)
        {
            var editHtml = ViewBag.DisableAdd || string.Equals(user.Login, "admin", StringComparison.OrdinalIgnoreCase) ? string.Empty : "onclick=\"location.href = '" + Url.Action("Edit", new { id = user.ID }) + "'\"";
            <tr @Html.Raw(editHtml)>
                <td>@user.ID</td>
                <td>@user.Login</td>
                <td>@EnumHelpers.GetDescription(user.Role)</td>
                <td>
                    @if (string.IsNullOrEmpty(EnumHelpers.GetDescription(user.Position)))
                    {
                        @:Не определено
                    }
                    else
                    {
                        @EnumHelpers.GetDescription(user.Position)
                    }
                </td>
                <td>@user.Email</td>
                <td>@user.Skype</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.CreatedDate</td>
                <td>@user.LastLogin</td>
                <td>
                    @if (!ViewBag.DisableAdd && !string.Equals(user.Login, "admin", StringComparison.OrdinalIgnoreCase))
                    {
                        @Html.Partial("_editDeleteSection", new EditDeleteSectionModel("User", "Пользователь", user.ID))
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    @Html.Partial("_noItemsMessage", "На данный момент пользователи отсутствуют. Вы можете их добавить нажав на зеленую кнопку в правом верхнем углу.")
}
