@using TestCaseStorage.Infrastructure.HtmlHelpers
@model TestCaseStorage.Models.Login.RegisterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Registration";
}

@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-5 input-validation-error">
                @if (Model?.ErrorMessages != null)
                {
                    <ul>
                        @foreach (var modelErrorMessage in Model.ErrorMessages)
                        {
                            <li class="message-error">
                                @modelErrorMessage
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>

        @Html.TextBoxLineFor(t => t.Login, "Login")
        @Html.TextBoxLineFor(t => t.Password, "Password")
        @Html.TextBoxLineFor(t => t.ConfirmPassword, "Confirm Password")
        @Html.TextBoxLineFor(t => t.Email, "Email")
        @Html.EnumDropDownLineFor(t => t.Role, "Role")
        @Html.TextBoxLineFor(t => t.FirstName, "First Name")
        @Html.TextBoxLineFor(t => t.LastName, "Last Name")

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 input-group-lg text-center">
                @Html.ActionLink("Cancel", "Login", null, new {@class = "btn btn-default navbar-btn btn-lg ok-cancel-btn-width"})
                <input class="btn btn-default navbar-btn btn-lg" type="submit" value="Register"/>
            </div>
        </div>
    </div>
}