@using TestCaseStorage.Infrastructure.HtmlHelpers
@using TestCaseStorage.Models.Iterations
@model IterationViewModel

@{
    ViewBag.Title = Model == null ? "Add New Iteration" : "Editing Iteration '" + Model.Name + "'";
}

@using (Html.BeginForm("Save", "Iterations", FormMethod.Post))
{
    @Html.HiddenFor(t => t.ID)
    
    @Html.TextBoxLineFor(t => t.Name, "Iteration Name")
    @Html.DatePickerLineFor(t => t.StartDate, "Start Date")
    @Html.DatePickerLineFor(t => t.EndDate, "Start Date")

    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 input-group-lg text-center">
            @if (Model != null)
            {
                @Html.ActionLink("Cancel", "List", null, new { @class = "btn btn-default navbar-btn btn-lg ok-cancel-btn-width" })
            }
            <input class="btn btn-default btn-lg ok-cancel-btn-width" type="submit" value='@(Model != null ? "Update" : "Add")'/>
        </div>
    </div>
}

