@using TestCaseStorage.Models.Iterations
@using TestCaseStorage.Models.Shared
@model IEnumerable<IterationViewModel>

@{
    ViewBag.Title = "All Iterations";
}

@section AdminTools
{
    @Html.ActionLink("Add", "Add", "Iterations", null, new { @class = "btn btn-success btn-md" })
}

@if (Model.Any())
{
    <table class="table table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
        </tr>
        @foreach (var iteration in Model)
        {
            <tr>
                <td>@iteration.ID</td>
                <td>@iteration.Name</td>
                <td>@iteration.StartDate</td>
                <td>@iteration.EndDate</td>
                <td>
                    @Html.Partial("_editDeleteSection", new EditDeleteSectionModel("Iterations", iteration.ID))
                </td>
            </tr>
        }
    </table>
}
else
{
    @Html.Partial("_noItemsMessage", "There is no iterations here. Please ask your Admin to create one.")
}


